body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#pingpong {
    margin:0px;
    padding:0px;
    list-style-type:none;
    line-height:0px;
}
#pingpong li{
    display:block;
    float:left;
    border-radius: 50%;
	width: 48px;
	line-height: 48px; 
    margin-right:5px;
    color:black;
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    text-align:center;
    font-size:24px;
    font-weight:bold;
}
.dataTables_wrapper { position: relative; }
.dataTables_length, .dataTables_info { background: #eee; padding: 10px; font-size: 11px; border: none; }
.dataTables_length { border-bottom: 0; }
.dataTables_info { border-top: 0; }
.dataTables_filter { position: absolute; top: 12px; right: 10px; }
.dataTables_filter input { width: 150px; margin-left: 10px; }
.dataTables_paginate { position: absolute; bottom: 10px; right: 10px; }
.dataTables_paginate .first, .dataTables_paginate .previous, .dataTables_paginate .paginate_active, 
.dataTables_paginate .paginate_button, .dataTables_paginate .next, .dataTables_paginate .last { 
	padding: 5px 10px; border: 1px solid #bbb; border-left: 0; font-size: 11px; background: #eee; cursor: pointer;
}
.dataTables_paginate span:hover { background-color: #ddd; }
.dataTables_paginate .first { border-left: 1px solid #bbb; }
.dataTables_paginate .paginate_active { background: #fff; }
.dataTables_paginate .paginate_button:hover { background: #eee; }
.dataTables_paginate .paginate_button_disabled { cursor: default; color: #bbb; background: #eee; }
.dataTables_length select { width: auto !important; }
#betting-form-container { min-height:500px;}
#betting-form { padding:10px; margin:0px;}
#betting-form-list {
    margin:0px;
    padding:0px;
    list-style-type:none;
}
#betting-form-list li {
    display: block;
    float: left;
    border: solid 1px #ccc;
    width: 16%;
    margin-left: 4px;
    line-height: 100px;
    text-align:center;
    margin-bottom:5px;
    font-size:46px;
    position:relative;
}
#betting-form-list li input[type="checkbox"] {
    position:absolute;
    right:5px;
    bottom:5px;
}